In [3]:
# Installing packages used for analysis
import pandas as pd

In [9]:
#Reading the dataset
df = pd.read_csv("sample_interview_dataset.csv")
df

,UID,Machine Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type,Timestamp
0,M14860,x1,298.1,308.6,1551.0,42.8,0,0,No Failure,2001-12-01 00:00:00
1,L47181,x_1,298.2,308.7,1408.0,46.3,3,0,No Failure,2001-12-01 01:00:00
2,L47182,x_1,298.1,308.5,1498.0,49.4,5,0,No Failure,2001-12-01 02:00:00
3,L47183,x_1,298.2,308.6,1433.0,39.5,7,0,No Failure,2001-12-01 03:00:00
4,L47184,x_1,298.2,308.7,1408.0,40.0,9,0,No Failure,2001-12-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...
9995,M24855,x1,298.8,308.4,1604.0,29.5,14,0,No Failure,2003-01-21 11:00:00
9996,H39410,X1,298.9,308.4,1632.0,31.8,17,0,No Failure,2003-01-21 12:00:00
9997,M24857,x1,299.0,308.6,1645.0,33.4,22,0,No Failure,2003-01-21 13:00:00
9998,H39412,X1,299.0,308.7,1408.0,48.5,25,0,No Failure,2003-01-21 14:00:00
9999,M24859,x1,299.0,308.7,1500.0,40.2,30,0,No Failure,2003-01-21 15:00:00